In [2]:
import pandas as pd
import joblib
import numpy as np

In [3]:
joblib.load('x_train.pkl').isna().sum()

fluid               0
field_name          1
operator            0
project_status      0
project_level       0
inplace             0
depth              74
temp              241
poro                0
perm                0
saturate            0
api_dens            0
visc                0
cap_cost            0
opr_cost            0
total_cost          0
avg_fluid_rate      0
location            0
region             30
NPV                 0
PI                  0
dtype: int64

In [4]:
joblib.load('x_train.pkl').loc[:, 'temp'].describe()

count    233.000000
mean      65.077152
std       52.310491
min        0.000000
25%        0.000000
50%       67.100000
75%      106.000000
max      206.811000
Name: temp, dtype: float64

In [5]:
joblib.load('x_train_preprocessed.pkl').loc[:, 'temp'].describe()

count    444.000000
mean      94.083795
std       24.478530
min       26.037682
25%       80.637500
50%       92.846499
75%      106.404673
max      206.811000
Name: temp, dtype: float64

In [6]:
prepro = joblib.load('x_train_preprocessed.pkl')

In [7]:
prepro

,fluid,field_name,operator,project_status,project_level,inplace,depth,temp,poro,perm,...,api_dens,visc,cap_cost,opr_cost,total_cost,avg_fluid_rate,location,region,NPV,PI
129,Gas,KEDUNGLUSI,PT PERTAMINA EP,BOTH,E0. On Production,96.650,11463.0,127.294385,0.111255,179.56160,...,0.797738,0.000000,180.966700,590.413800,771.380500,29.808250,Jawa Barat,Jawa,247.874300,0.321339
77,Gas,HIU,MEDCO E&P NATUNA LTD.,OFFSHORE,E0. On Production,194.000,5375.0,119.350000,0.181778,58.21070,...,0.779838,0.000000,95.078190,1.202515,96.280705,2.863511,Laut Natuna Utara,Sumatera,-5.556118,-0.057707
33,Gas,NORTH CENTRAL JAVA A,PT PERTAMINA EP,BOTH,X0. Development Pending,14.900,3927.0,85.254520,0.267483,74.64626,...,0.761554,0.000000,60.032040,15.870640,75.902680,70.172230,Jawa Barat,Jawa,7.216869,0.095081
409,Oil,BULA,KALREZ PETROLEUM (SERAM) LTD.,BOTH,E6. Further Development,80012.000,280.0,31.735574,0.298660,127.57180,...,22.000000,48.882770,9.527715,6.131118,15.658833,1824.033000,Maluku,Timur,0.403076,0.025741
424,Oil,GQS,PT PERTAMINA HULU ENERGI OFFSHORE NORTH WEST JAVA,OFFSHORE,X1. Discovery under Evaluation,20360.000,2200.0,70.400000,0.199213,300.28980,...,33.893960,4.381756,69.258370,9.110415,78.368785,3717.371000,Jawa Barat,Jawa,20.155070,0.257182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Gas,PHE 24,PT PERTAMINA HULU ENERGI WEST MADURA OFFSHORE,OFFSHORE,E0. On Production,23.300,5000.0,93.319930,0.229395,306.02620,...,0.634960,0.000000,27.127330,11.906170,39.033500,12.215900,Laut Jawa,Jawa,19.646410,0.503322
360,Gas,PERTAMINA EP,PT PERTAMINA EP,BOTH,X0. Development Pending,30.890,5250.0,95.039346,0.320047,160.48610,...,0.774653,0.000000,64.971210,74.040990,139.012200,1.257305,Jawa Barat,Jawa,154.606300,1.112178
637,Oil,BENAKAT UTARA,PT PERTAMINA EP,BOTH,E4. Production Pending,30036.000,4690.0,91.111397,0.222027,178.08410,...,35.507160,4.357081,22.981240,133.347800,156.329040,3472.759000,Sumatera Selatan,Sumatera,69.686540,0.445768
340,Gas,PERTAMINA EP,PT PERTAMINA EP,BOTH,X0. Development Pending,76.880,5250.0,95.039346,0.303378,114.45290,...,0.842386,0.000000,340.909400,41.474310,382.383710,17.958780,Jawa Barat,Jawa,69.640160,0.182121
536,Oil-Gas,MENGKAPAN,BOB PERTAMINA - BUMI SIAK PUSAKO,ONSHORE,E7. Production Not Viable,2660.311,3960.0,119.900000,0.270000,81.81205,...,42.000000,0.800000,26.741010,16.990130,43.731140,241.617400,Selat Malaka,Sumatera,32.831600,0.750760

In [8]:
prepro.loc[prepro.depth == 0, :]

Empty DataFrame
Columns: [fluid, field_name, operator, project_status, project_level, inplace, depth, temp, poro, perm, saturate, api_dens, visc, cap_cost, opr_cost, total_cost, avg_fluid_rate, location, region, NPV, PI]
Index: []

[0 rows x 21 columns]

In [9]:
joblib.load('x_train_preprocessed.pkl')

,fluid,field_name,operator,project_status,project_level,inplace,depth,temp,poro,perm,...,api_dens,visc,cap_cost,opr_cost,total_cost,avg_fluid_rate,location,region,NPV,PI
129,Gas,KEDUNGLUSI,PT PERTAMINA EP,BOTH,E0. On Production,96.650,11463.0,127.294385,0.111255,179.56160,...,0.797738,0.000000,180.966700,590.413800,771.380500,29.808250,Jawa Barat,Jawa,247.874300,0.321339
77,Gas,HIU,MEDCO E&P NATUNA LTD.,OFFSHORE,E0. On Production,194.000,5375.0,119.350000,0.181778,58.21070,...,0.779838,0.000000,95.078190,1.202515,96.280705,2.863511,Laut Natuna Utara,Sumatera,-5.556118,-0.057707
33,Gas,NORTH CENTRAL JAVA A,PT PERTAMINA EP,BOTH,X0. Development Pending,14.900,3927.0,85.254520,0.267483,74.64626,...,0.761554,0.000000,60.032040,15.870640,75.902680,70.172230,Jawa Barat,Jawa,7.216869,0.095081
409,Oil,BULA,KALREZ PETROLEUM (SERAM) LTD.,BOTH,E6. Further Development,80012.000,280.0,31.735574,0.298660,127.57180,...,22.000000,48.882770,9.527715,6.131118,15.658833,1824.033000,Maluku,Timur,0.403076,0.025741
424,Oil,GQS,PT PERTAMINA HULU ENERGI OFFSHORE NORTH WEST JAVA,OFFSHORE,X1. Discovery under Evaluation,20360.000,2200.0,70.400000,0.199213,300.28980,...,33.893960,4.381756,69.258370,9.110415,78.368785,3717.371000,Jawa Barat,Jawa,20.155070,0.257182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Gas,PHE 24,PT PERTAMINA HULU ENERGI WEST MADURA OFFSHORE,OFFSHORE,E0. On Production,23.300,5000.0,93.319930,0.229395,306.02620,...,0.634960,0.000000,27.127330,11.906170,39.033500,12.215900,Laut Jawa,Jawa,19.646410,0.503322
360,Gas,PERTAMINA EP,PT PERTAMINA EP,BOTH,X0. Development Pending,30.890,5250.0,95.039346,0.320047,160.48610,...,0.774653,0.000000,64.971210,74.040990,139.012200,1.257305,Jawa Barat,Jawa,154.606300,1.112178
637,Oil,BENAKAT UTARA,PT PERTAMINA EP,BOTH,E4. Production Pending,30036.000,4690.0,91.111397,0.222027,178.08410,...,35.507160,4.357081,22.981240,133.347800,156.329040,3472.759000,Sumatera Selatan,Sumatera,69.686540,0.445768
340,Gas,PERTAMINA EP,PT PERTAMINA EP,BOTH,X0. Development Pending,76.880,5250.0,95.039346,0.303378,114.45290,...,0.842386,0.000000,340.909400,41.474310,382.383710,17.958780,Jawa Barat,Jawa,69.640160,0.182121
536,Oil-Gas,MENGKAPAN,BOB PERTAMINA - BUMI SIAK PUSAKO,ONSHORE,E7. Production Not Viable,2660.311,3960.0,119.900000,0.270000,81.81205,...,42.000000,0.800000,26.741010,16.990130,43.731140,241.617400,Selat Malaka,Sumatera,32.831600,0.750760

In [10]:
from sklearn.preprocessing import OneHotEncoder

In [11]:
def operatorship(df_in, do=True):
    """
    function to change operator into Pertamina & Non-Pertamina

    Args:
    - df_in(DataFrame): Input data
    """
    df = df_in.copy()
    if do:
        df['operator'] = df.apply(lambda row: 'PERTAMINA' if ('PERTAMINA' in row['operator']) else 'NON_PERTAMINA', axis=1)   

    return df

In [12]:
def transformation(df_in, do=True):
    """
    function for data transformatio, focus on ordinal data to become one-hot-encoded

    Args:
    - df_in(DataFrame): Input data
    """
    df = df_in.copy()
    if do:
        
        num_df = df._get_numeric_data()
        cat_df = df.drop(columns=num_df.columns)
        cat_df = cat_df.drop(columns=['field_name', 'project_level'])
        df = operatorship(df)

        cat_encoder = OneHotEncoder()

        hot_cat_df = cat_encoder.fit_transform(cat_df)
        hot_cat_df_ = hot_cat_df.toarray()

        cat_columns = ['Gas', 'Oil', 'Oil-Gas',
            'NON_PERTAMINA', 'PERTAMINA', 
            'BOTH', 'OFFSHORE', 'ONSHORE', 
            'Aceh', 'Jambi', 'Jawa Barat', 'Jawa Tengah', 'Jawa Timur',
            'Kalimantan Selatan', 'Kalimantan Tengah', 'Kalimantan Timur',
            'Kalimantan Utara', 'Laut Cina Utara', 'Laut Jawa', 'Laut Natuna',
            'Laut Natuna Utara', 'Laut Seram', 'Laut Timor', 'Maluku',
            'Papua Barat', 'Riau', 'Selat Makasar', 'Selat Malaka',
            'Sulawesi Barat', 'Sulawesi Selatan', 'Sulawesi Tengah',
            'Sulawesi Tengah (offshore)', 'Sumatera Barat', 'Sumatera Selatan',
            'Sumatera Utara', 'Teluk Berau', 
            'Jawa', 'Kalimantan', 'Sumatera', 'Timur']

        tr_df_cat = pd.DataFrame(hot_cat_df_, columns=cat_columns)

        tr_feat_df = pd.concat((num_df, tr_df_cat), axis=1)

    return tr_feat_df

In [13]:
xt = joblib.load('x_train_preprocessed.pkl')

In [14]:
xt

,fluid,field_name,operator,project_status,project_level,inplace,depth,temp,poro,perm,...,api_dens,visc,cap_cost,opr_cost,total_cost,avg_fluid_rate,location,region,NPV,PI
129,Gas,KEDUNGLUSI,PT PERTAMINA EP,BOTH,E0. On Production,96.650,11463.0,127.294385,0.111255,179.56160,...,0.797738,0.000000,180.966700,590.413800,771.380500,29.808250,Jawa Barat,Jawa,247.874300,0.321339
77,Gas,HIU,MEDCO E&P NATUNA LTD.,OFFSHORE,E0. On Production,194.000,5375.0,119.350000,0.181778,58.21070,...,0.779838,0.000000,95.078190,1.202515,96.280705,2.863511,Laut Natuna Utara,Sumatera,-5.556118,-0.057707
33,Gas,NORTH CENTRAL JAVA A,PT PERTAMINA EP,BOTH,X0. Development Pending,14.900,3927.0,85.254520,0.267483,74.64626,...,0.761554,0.000000,60.032040,15.870640,75.902680,70.172230,Jawa Barat,Jawa,7.216869,0.095081
409,Oil,BULA,KALREZ PETROLEUM (SERAM) LTD.,BOTH,E6. Further Development,80012.000,280.0,31.735574,0.298660,127.57180,...,22.000000,48.882770,9.527715,6.131118,15.658833,1824.033000,Maluku,Timur,0.403076,0.025741
424,Oil,GQS,PT PERTAMINA HULU ENERGI OFFSHORE NORTH WEST JAVA,OFFSHORE,X1. Discovery under Evaluation,20360.000,2200.0,70.400000,0.199213,300.28980,...,33.893960,4.381756,69.258370,9.110415,78.368785,3717.371000,Jawa Barat,Jawa,20.155070,0.257182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Gas,PHE 24,PT PERTAMINA HULU ENERGI WEST MADURA OFFSHORE,OFFSHORE,E0. On Production,23.300,5000.0,93.319930,0.229395,306.02620,...,0.634960,0.000000,27.127330,11.906170,39.033500,12.215900,Laut Jawa,Jawa,19.646410,0.503322
360,Gas,PERTAMINA EP,PT PERTAMINA EP,BOTH,X0. Development Pending,30.890,5250.0,95.039346,0.320047,160.48610,...,0.774653,0.000000,64.971210,74.040990,139.012200,1.257305,Jawa Barat,Jawa,154.606300,1.112178
637,Oil,BENAKAT UTARA,PT PERTAMINA EP,BOTH,E4. Production Pending,30036.000,4690.0,91.111397,0.222027,178.08410,...,35.507160,4.357081,22.981240,133.347800,156.329040,3472.759000,Sumatera Selatan,Sumatera,69.686540,0.445768
340,Gas,PERTAMINA EP,PT PERTAMINA EP,BOTH,X0. Development Pending,76.880,5250.0,95.039346,0.303378,114.45290,...,0.842386,0.000000,340.909400,41.474310,382.383710,17.958780,Jawa Barat,Jawa,69.640160,0.182121
536,Oil-Gas,MENGKAPAN,BOB PERTAMINA - BUMI SIAK PUSAKO,ONSHORE,E7. Production Not Viable,2660.311,3960.0,119.900000,0.270000,81.81205,...,42.000000,0.800000,26.741010,16.990130,43.731140,241.617400,Selat Malaka,Sumatera,32.831600,0.750760

In [15]:
xt = xt.drop(columns=['cap_cost', 'opr_cost','total_cost', 'NPV', 'PI'])

In [16]:
num_df = xt._get_numeric_data()

In [17]:
num_df

,inplace,depth,temp,poro,perm,saturate,api_dens,visc,avg_fluid_rate
129,96.650,11463.0,127.294385,0.111255,179.56160,0.757812,0.797738,0.000000,29.808250
77,194.000,5375.0,119.350000,0.181778,58.21070,0.380268,0.779838,0.000000,2.863511
33,14.900,3927.0,85.254520,0.267483,74.64626,0.568939,0.761554,0.000000,70.172230
409,80012.000,280.0,31.735574,0.298660,127.57180,0.569936,22.000000,48.882770,1824.033000
424,20360.000,2200.0,70.400000,0.199213,300.28980,0.472060,33.893960,4.381756,3717.371000
...,...,...,...,...,...,...,...,...,...
187,23.300,5000.0,93.319930,0.229395,306.02620,0.652640,0.634960,0.000000,12.215900
360,30.890,5250.0,95.039346,0.320047,160.48610,0.699175,0.774653,0.000000,1.257305
637,30036.000,4690.0,91.111397,0.222027,178.08410,0.615252,35.507160,4.357081,3472.759000
340,76.880,5250.0,95.039346,0.303378,114.45290,0.703396,0.842386,0.000000,17.958780
536,2660.311,3960.0,119.900000,0.270000,81.81205,0.700000,42.000000,0.800000,241.617400

In [18]:
cat_df = xt.drop(columns=num_df.columns)

In [19]:
cat_df.head()

,fluid,field_name,operator,project_status,project_level,location,region
129,Gas,KEDUNGLUSI,PT PERTAMINA EP,BOTH,E0. On Production,Jawa Barat,Jawa
77,Gas,HIU,MEDCO E&P NATUNA LTD.,OFFSHORE,E0. On Production,Laut Natuna Utara,Sumatera
33,Gas,NORTH CENTRAL JAVA A,PT PERTAMINA EP,BOTH,X0. Development Pending,Jawa Barat,Jawa
409,Oil,BULA,KALREZ PETROLEUM (SERAM) LTD.,BOTH,E6. Further Development,Maluku,Timur
424,Oil,GQS,PT PERTAMINA HULU ENERGI OFFSHORE NORTH WEST JAVA,OFFSHORE,X1. Discovery under Evaluation,Jawa Barat,Jawa

In [20]:
cat_df = cat_df.drop(columns=['field_name', 'project_level'])

In [21]:
cat_df = operatorship(cat_df)

In [22]:
cat_df = cat_df.drop(columns=['field_name', 'project_level'])

KeyError: "['field_name' 'project_level'] not found in axis"

In [ ]:
cat_df.value_counts()

fluid    operator       project_status  location                    region
Gas      PERTAMINA      BOTH            Jawa Barat                  Jawa          64
         NON_PERTAMINA  OFFSHORE        Laut Natuna Utara           Sumatera      22
                        ONSHORE         Papua Barat                 Timur         17
Oil-Gas  NON_PERTAMINA  ONSHORE         Sumatera Selatan            Sumatera      17
         PERTAMINA      OFFSHORE        Jawa Barat                  Jawa          15
                                                                                  ..
Oil      PERTAMINA      BOTH            Kalimantan Utara            Kalimantan     1
                                        Laut Natuna Utara           Sumatera       1
                                        Sulawesi Tengah (offshore)  Timur          1
                        ONSHORE         Jawa Tengah                 Jawa           1
Oil-Gas  PERTAMINA      ONSHORE         Sumatera Selatan            Sumatera       1
Length: 94, dtype: int64

In [ ]:
cat_encoder = OneHotEncoder()

hot_cat_df = cat_encoder.fit_transform(cat_df)
hot_cat_df_ = hot_cat_df.toarray()

In [ ]:
hot_cat_df

<444x37 sparse matrix of type '<class 'numpy.float64'>'
	with 2220 stored elements in Compressed Sparse Row format>

In [ ]:
cat_encoder.categories_

[array(['Gas', 'Oil', 'Oil-Gas'], dtype=object),
 array(['NON_PERTAMINA', 'PERTAMINA'], dtype=object),
 array(['BOTH', 'OFFSHORE', 'ONSHORE'], dtype=object),
 array(['Aceh', 'Jambi', 'Jawa Barat', 'Jawa Tengah', 'Jawa Timur',
        'Kalimantan Selatan', 'Kalimantan Timur', 'Kalimantan Utara',
        'Laut Cina Utara', 'Laut Jawa', 'Laut Natuna', 'Laut Natuna Utara',
        'Laut Timor', 'Maluku', 'Papua Barat', 'Riau', 'Selat Makasar',
        'Selat Malaka', 'Sulawesi Selatan', 'Sulawesi Tengah',
        'Sulawesi Tengah (offshore)', 'Sumatera Barat', 'Sumatera Selatan',
        'Sumatera Utara', 'Teluk Berau'], dtype=object),
 array(['Jawa', 'Kalimantan', 'Sumatera', 'Timur'], dtype=object)]

---

In [23]:
xtp = joblib.load('x_train_preprocessed.pkl')
xvp = joblib.load('x_valid_preprocessed.pkl')
xtsp = joblib.load('x_test_preprocessed.pkl')

In [28]:
pd.concat((xtp, xvp, xtsp), axis=0).columns

Index(['fluid', 'field_name', 'operator', 'project_status', 'project_level',
       'inplace', 'depth', 'temp', 'poro', 'perm', 'saturate', 'api_dens',
       'visc', 'cap_cost', 'opr_cost', 'total_cost', 'avg_fluid_rate',
       'location', 'region', 'NPV', 'PI'],
      dtype='object')

---

In [25]:
xtf = joblib.load('x_train_feat.pkl')
xvf = joblib.load('x_valid_feat.pkl')
xtsf = joblib.load('x_test_feat.pkl')

In [ ]:
xtf.shape

(444, 49)

In [ ]:
total = xtsf.isnull().sum().sort_values(ascending=False)
percent = (xtsf.isnull().sum()/xtsf.isnull().count()).sort_values(ascending=False)*100
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data

                            Total  Percent
inplace                         0      0.0
Kalimantan Utara                0      0.0
Laut Jawa                       0      0.0
Laut Natuna                     0      0.0
Laut Natuna Utara               0      0.0
Laut Seram                      0      0.0
Laut Timor                      0      0.0
Maluku                          0      0.0
Papua Barat                     0      0.0
Riau                            0      0.0
Selat Makasar                   0      0.0
Selat Malaka                    0      0.0
Sulawesi Barat                  0      0.0
Sulawesi Selatan                0      0.0
Sulawesi Tengah                 0      0.0
Sulawesi Tengah (offshore)      0      0.0
Sumatera Barat                  0      0.0
Sumatera Selatan                0      0.0
Sumatera Utara                  0      0.0
Teluk Berau                     0      0.0
Jawa                            0      0.0
Kalimantan                      0      0.0
Sumatera                        0      0.0
Laut Cina Utara                 0      0.0
Kalimantan Timur                0      0.0
depth                           0      0.0
Kalimantan Tengah               0      0.0
temp                            0      0.0
poro                            0      0.0
perm                            0      0.0
saturate                        0      0.0
api_dens                        0      0.0
visc                            0      0.0
avg_fluid_rate                  0      0.0
Gas                             0      0.0
Oil                             0      0.0
Oil-Gas                         0      0.0
NON_PERTAMINA                   0      0.0
PERTAMINA                       0      0.0
BOTH                            0      0.0
OFFSHORE                        0      0.0
ONSHORE                         0      0.0
Aceh                            0      0.0
Jambi                           0      0.0
Jawa Barat                      0      0.0
Jawa Tengah                     0      0.0
Jawa Timur                      0      0.0
Kalimantan Selatan              0      0.0
Timur                           0      0.0

In [ ]:
joblib.load('master_encoder.pkl')

c:\Users\andip\Anaconda3\lib\site-packages\sklearn\base.py:310: UserWarning: Trying to unpickle estimator OneHotEncoder from version 1.1.1 when using version 0.24.1. This might lead to breaking code or invalid results. Use at your own risk.
  warnings.warn(

OneHotEncoder()

In [ ]:
np.round(0, decimals=0)

0

In [26]:
xtf

,inplace,depth,temp,poro,perm,saturate,api_dens,visc,avg_fluid_rate,Gas,...,Sulawesi Tengah,Sulawesi Tengah (offshore),Sumatera Barat,Sumatera Selatan,Sumatera Utara,Teluk Berau,Jawa,Kalimantan,Sumatera,Timur
129,17.258929,11463.0,127.294385,0.111255,179.56160,0.757812,0.797738,0.000000,5322.901786,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
77,34.642857,5375.0,119.350000,0.181778,58.21070,0.380268,0.779838,0.000000,511.341250,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
33,2.660714,3927.0,85.254520,0.267483,74.64626,0.568939,0.761554,0.000000,12530.755357,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
409,80.012000,280.0,31.735574,0.298660,127.57180,0.569936,22.000000,48.882770,1824.033000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
424,20.360000,2200.0,70.400000,0.199213,300.28980,0.472060,33.893960,4.381756,3717.371000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,4.160714,5000.0,93.319930,0.229395,306.02620,0.652640,0.634960,0.000000,2181.410714,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
360,5.516071,5250.0,95.039346,0.320047,160.48610,0.699175,0.774653,0.000000,224.518750,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
637,30.036000,4690.0,91.111397,0.222027,178.08410,0.615252,35.507160,4.357081,3472.759000,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
340,13.728571,5250.0,95.039346,0.303378,114.45290,0.703396,0.842386,0.000000,3206.925000,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
536,475.055536,3960.0,119.900000,0.270000,81.81205,0.700000,42.000000,0.800000,241.617400,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

---

In [ ]:
yt = joblib.load('y_train.pkl')
yv = joblib.load('y_valid.pkl')
yts = joblib.load('y_test.pkl')

In [ ]:
yts.shape

(143, 1)

In [ ]:
    space = {'max_depth' : hp.quniform('max_depth', 2, 20, 1),
         'eta' : hp.uniform('eta', 0.01, 0.5, 0.05),
         'gamma' : hp.uniform('gamma', 0, 2),
         'reg_alpha' : hp.quniform('reg_alpha', 0, 50, 1),
         'reg_lambda' : hp.uniform('reg_lambda', 0, 50),
         'subsample' : hp.uniform('subsample', 0.5, 1),
         'min_child_weight' : hp.quniform('min_child_weight', 0, 10, 1),
         'n_estimators' : hp.quniform('n_estimators', 5, 1000),
         'seed' : 0,
         'eval_metric' : 'auc',
         'objective' : 'binary:logistic'}

In [ ]:
    clf_XGB = xgb.XGBClassifier(random_state=42, 
                            booster='gbtree', 
                            eta=best_hyperparams['eta'], 
                            gamma=best_hyperparams['gamma'], 
                            subsample=best_hyperparams['subsample'], 
                            max_depth=int(best_hyperparams['max_depth']), 
                            reg_lambda=best_hyperparams['reg_lambda'], 
                            reg_alpha=best_hyperparams['reg_alpha'],
                            grow_policy='depthwise',
                            n_estimators=int(best_hyperparams['n_estimators'])

In [ ]:
n_estimators : hp.quniform('n_estimators', 5, 1000)
max_depth : hp.quniform('max_depth', 2, 20, 1)
gamma : hp.uniform('gamma', 0, 2)
reg_alpha : hp.quniform('reg_alpha', 0, 50, 1)
reg_lambda : hp.uniform('reg_lambda', 0, 50)
subsample : hp.uniform('subsample', 0.5, 1)
eta : hp.uniform('eta', 0.01, 0.5, 0.05)
min_child_weight : hp.quniform('min_child_weight', 0, 10, 1)
seed : 0
eval_metric : 'auc'
objective : 'binary:logistic'

In [ ]:
    space = {'max_depth' : hp.choice('max_depth', np.arange(2, 20, 1, dtype=int)),
         'eta' : hp.choice('eta', np.arange(0.01, 0.5, 0.05, dtype=float)), #float
         'gamma' : hp.choice('gamma', np.arange(0, 2, 0.1, dtype=float)), #float
         'reg_alpha' : hp.choice('reg_alpha', np.arange(0, 50, 1, dtype=int)),
         'reg_lambda' : hp.choice('reg_lambda', np.arange(0, 50, 0.05, dtype=float)), #float
         'subsample' : hp.choice('subsample', np.arange(0, 1, 0.1, dtype=float)), #float
         'min_child_weight' : hp.choice('min_child_weight', np.arange(0, 10, 1, dtype=int)),
         'n_estimators' : hp.choice('n_estimators', np.arange(0, 1000, 50, dtype=int)),
         'seed' : 0,
         'eval_metric' : 'auc',
         'objective' : 'binary:logistic'}

In [ ]:
n_estimators = int(space['n_estimators']), max_depth = int(space['max_depth']), gamma = space['gamma'],
                        reg_alpha = int(space['reg_alpha']), reg_lambda = space['reg_lambda'], subsample = space['subsample'],
                        eta = space['eta'], min_child_weight = int(space['min_child_weight']), seed = 0, 
                        eval_metric = 'auc', objective = 'binary:logistic'