In [1]:
import pandas as pd
import joblib
import numpy as np

In [29]:
joblib.load('x_train.pkl').isna().sum()

fluid               0
field_name          1
operator            0
project_status      0
project_level       0
inplace             0
depth              74
temp              241
poro                0
perm                0
saturate            0
api_dens            0
visc                0
cap_cost            0
opr_cost            0
total_cost          0
avg_fluid_rate      0
location            0
region             30
NPV                 0
PI                  0
dtype: int64

In [30]:
joblib.load('x_train.pkl').loc[:, 'temp'].describe()

count    233.000000
mean      65.077152
std       52.310491
min        0.000000
25%        0.000000
50%       67.100000
75%      106.000000
max      206.811000
Name: temp, dtype: float64

In [31]:
joblib.load('x_train_preprocessed.pkl').loc[:, 'temp'].describe()

count    444.000000
mean      94.083795
std       24.478530
min       26.037682
25%       80.637500
50%       92.846499
75%      106.404673
max      206.811000
Name: temp, dtype: float64

In [32]:
prepro = joblib.load('x_train_preprocessed.pkl')

In [25]:
prepro

,fluid,field_name,operator,project_status,project_level,inplace,depth,temp,poro,perm,...,api_dens,visc,cap_cost,opr_cost,total_cost,avg_fluid_rate,location,region,NPV,PI
129,Gas,KEDUNGLUSI,PT PERTAMINA EP,BOTH,E0. On Production,96.650,11463.0,127.294385,0.111255,179.56160,...,0.797738,0.000000,180.966700,590.413800,771.380500,29.808250,Jawa Barat,Jawa,247.874300,0.321339
77,Gas,HIU,MEDCO E&P NATUNA LTD.,OFFSHORE,E0. On Production,194.000,5375.0,119.350000,0.181778,58.21070,...,0.779838,0.000000,95.078190,1.202515,96.280705,2.863511,Laut Natuna Utara,Sumatera,-5.556118,-0.057707
33,Gas,NORTH CENTRAL JAVA A,PT PERTAMINA EP,BOTH,X0. Development Pending,14.900,3927.0,85.254520,0.267483,74.64626,...,0.761554,0.000000,60.032040,15.870640,75.902680,70.172230,Jawa Barat,Jawa,7.216869,0.095081
409,Oil,BULA,KALREZ PETROLEUM (SERAM) LTD.,BOTH,E6. Further Development,80012.000,280.0,31.735574,0.298660,127.57180,...,22.000000,48.882770,9.527715,6.131118,15.658833,1824.033000,Maluku,Timur,0.403076,0.025741
424,Oil,GQS,PT PERTAMINA HULU ENERGI OFFSHORE NORTH WEST JAVA,OFFSHORE,X1. Discovery under Evaluation,20360.000,2200.0,70.400000,0.199213,300.28980,...,33.893960,4.381756,69.258370,9.110415,78.368785,3717.371000,Jawa Barat,Jawa,20.155070,0.257182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Gas,PHE 24,PT PERTAMINA HULU ENERGI WEST MADURA OFFSHORE,OFFSHORE,E0. On Production,23.300,5000.0,93.319930,0.229395,306.02620,...,0.634960,0.000000,27.127330,11.906170,39.033500,12.215900,Laut Jawa,Jawa,19.646410,0.503322
360,Gas,PERTAMINA EP,PT PERTAMINA EP,BOTH,X0. Development Pending,30.890,5250.0,95.039346,0.320047,160.48610,...,0.774653,0.000000,64.971210,74.040990,139.012200,1.257305,Jawa Barat,Jawa,154.606300,1.112178
637,Oil,BENAKAT UTARA,PT PERTAMINA EP,BOTH,E4. Production Pending,30036.000,4690.0,91.111397,0.222027,178.08410,...,35.507160,4.357081,22.981240,133.347800,156.329040,3472.759000,Sumatera Selatan,Sumatera,69.686540,0.445768
340,Gas,PERTAMINA EP,PT PERTAMINA EP,BOTH,X0. Development Pending,76.880,5250.0,95.039346,0.303378,114.45290,...,0.842386,0.000000,340.909400,41.474310,382.383710,17.958780,Jawa Barat,Jawa,69.640160,0.182121
536,Oil-Gas,MENGKAPAN,BOB PERTAMINA - BUMI SIAK PUSAKO,ONSHORE,E7. Production Not Viable,2660.311,3960.0,119.900000,0.270000,81.81205,...,42.000000,0.800000,26.741010,16.990130,43.731140,241.617400,Selat Malaka,Sumatera,32.831600,0.750760

In [33]:
prepro.loc[prepro.depth == 0, :]

Empty DataFrame
Columns: [fluid, field_name, operator, project_status, project_level, inplace, depth, temp, poro, perm, saturate, api_dens, visc, cap_cost, opr_cost, total_cost, avg_fluid_rate, location, region, NPV, PI]
Index: []

[0 rows x 21 columns]

In [238]:
joblib.load('x_train_preprocessed.pkl')

,fluid,field_name,operator,project_status,project_level,inplace,depth,temp,poro,perm,...,api_dens,visc,cap_cost,opr_cost,total_cost,avg_fluid_rate,location,region,NPV,PI
129,Gas,KEDUNGLUSI,PT PERTAMINA EP,BOTH,E0. On Production,96.650,11463.0,127.294385,0.111255,179.56160,...,0.797738,0.000000,180.966700,590.413800,771.380500,29.808250,Jawa Barat,Jawa,247.874300,0.321339
77,Gas,HIU,MEDCO E&P NATUNA LTD.,OFFSHORE,E0. On Production,194.000,5375.0,119.350000,0.181778,58.21070,...,0.779838,0.000000,95.078190,1.202515,96.280705,2.863511,Laut Natuna Utara,Sumatera,-5.556118,-0.057707
33,Gas,NORTH CENTRAL JAVA A,PT PERTAMINA EP,BOTH,X0. Development Pending,14.900,3927.0,85.254520,0.267483,74.64626,...,0.761554,0.000000,60.032040,15.870640,75.902680,70.172230,Jawa Barat,Jawa,7.216869,0.095081
409,Oil,BULA,KALREZ PETROLEUM (SERAM) LTD.,BOTH,E6. Further Development,80012.000,280.0,31.735574,0.298660,127.57180,...,22.000000,48.882770,9.527715,6.131118,15.658833,1824.033000,Maluku,Timur,0.403076,0.025741
424,Oil,GQS,PT PERTAMINA HULU ENERGI OFFSHORE NORTH WEST JAVA,OFFSHORE,X1. Discovery under Evaluation,20360.000,2200.0,70.400000,0.199213,300.28980,...,33.893960,4.381756,69.258370,9.110415,78.368785,3717.371000,Jawa Barat,Jawa,20.155070,0.257182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Gas,PHE 24,PT PERTAMINA HULU ENERGI WEST MADURA OFFSHORE,OFFSHORE,E0. On Production,23.300,5000.0,93.319930,0.229395,306.02620,...,0.634960,0.000000,27.127330,11.906170,39.033500,12.215900,Laut Jawa,Jawa,19.646410,0.503322
360,Gas,PERTAMINA EP,PT PERTAMINA EP,BOTH,X0. Development Pending,30.890,5250.0,95.039346,0.320047,160.48610,...,0.774653,0.000000,64.971210,74.040990,139.012200,1.257305,Jawa Barat,Jawa,154.606300,1.112178
637,Oil,BENAKAT UTARA,PT PERTAMINA EP,BOTH,E4. Production Pending,30036.000,4690.0,91.111397,0.222027,178.08410,...,35.507160,4.357081,22.981240,133.347800,156.329040,3472.759000,Sumatera Selatan,Sumatera,69.686540,0.445768
340,Gas,PERTAMINA EP,PT PERTAMINA EP,BOTH,X0. Development Pending,76.880,5250.0,95.039346,0.303378,114.45290,...,0.842386,0.000000,340.909400,41.474310,382.383710,17.958780,Jawa Barat,Jawa,69.640160,0.182121
536,Oil-Gas,MENGKAPAN,BOB PERTAMINA - BUMI SIAK PUSAKO,ONSHORE,E7. Production Not Viable,2660.311,3960.0,119.900000,0.270000,81.81205,...,42.000000,0.800000,26.741010,16.990130,43.731140,241.617400,Selat Malaka,Sumatera,32.831600,0.750760

In [249]:
from sklearn.preprocessing import OneHotEncoder

In [250]:
def operatorship(df_in, do=True):
    """
    function to change operator into Pertamina & Non-Pertamina

    Args:
    - df_in(DataFrame): Input data
    """
    df = df_in.copy()
    if do:
        df['operator'] = df.apply(lambda row: 'PERTAMINA' if ('PERTAMINA' in row['operator']) else 'NON_PERTAMINA', axis=1)   

    return df

In [251]:
def transformation(df_in, do=True):
    """
    function for data transformatio, focus on ordinal data to become one-hot-encoded

    Args:
    - df_in(DataFrame): Input data
    """
    df = df_in.copy()
    if do:
        
        num_df = df._get_numeric_data()
        cat_df = df.drop(columns=num_df.columns)
        cat_df = cat_df.drop(columns=['field_name', 'project_level'])
        df = operatorship(df)

        cat_encoder = OneHotEncoder()

        hot_cat_df = cat_encoder.fit_transform(cat_df)
        hot_cat_df_ = hot_cat_df.toarray()

        cat_columns = ['Gas', 'Oil', 'Oil-Gas',
            'NON_PERTAMINA', 'PERTAMINA', 
            'BOTH', 'OFFSHORE', 'ONSHORE', 
            'Aceh', 'Jambi', 'Jawa Barat', 'Jawa Tengah', 'Jawa Timur',
            'Kalimantan Selatan', 'Kalimantan Tengah', 'Kalimantan Timur',
            'Kalimantan Utara', 'Laut Cina Utara', 'Laut Jawa', 'Laut Natuna',
            'Laut Natuna Utara', 'Laut Seram', 'Laut Timor', 'Maluku',
            'Papua Barat', 'Riau', 'Selat Makasar', 'Selat Malaka',
            'Sulawesi Barat', 'Sulawesi Selatan', 'Sulawesi Tengah',
            'Sulawesi Tengah (offshore)', 'Sumatera Barat', 'Sumatera Selatan',
            'Sumatera Utara', 'Teluk Berau', 
            'Jawa', 'Kalimantan', 'Sumatera', 'Timur']

        tr_df_cat = pd.DataFrame(hot_cat_df_, columns=cat_columns)

        tr_feat_df = pd.concat((num_df, tr_df_cat), axis=1)

    return tr_feat_df

In [265]:
xt = joblib.load('x_train_preprocessed.pkl')

In [266]:
xt

,fluid,field_name,operator,project_status,project_level,inplace,depth,temp,poro,perm,...,api_dens,visc,cap_cost,opr_cost,total_cost,avg_fluid_rate,location,region,NPV,PI
129,Gas,KEDUNGLUSI,PT PERTAMINA EP,BOTH,E0. On Production,96.650,11463.0,127.294385,0.111255,179.56160,...,0.797738,0.000000,180.966700,590.413800,771.380500,29.808250,Jawa Barat,Jawa,247.874300,0.321339
77,Gas,HIU,MEDCO E&P NATUNA LTD.,OFFSHORE,E0. On Production,194.000,5375.0,119.350000,0.181778,58.21070,...,0.779838,0.000000,95.078190,1.202515,96.280705,2.863511,Laut Natuna Utara,Sumatera,-5.556118,-0.057707
33,Gas,NORTH CENTRAL JAVA A,PT PERTAMINA EP,BOTH,X0. Development Pending,14.900,3927.0,85.254520,0.267483,74.64626,...,0.761554,0.000000,60.032040,15.870640,75.902680,70.172230,Jawa Barat,Jawa,7.216869,0.095081
409,Oil,BULA,KALREZ PETROLEUM (SERAM) LTD.,BOTH,E6. Further Development,80012.000,280.0,31.735574,0.298660,127.57180,...,22.000000,48.882770,9.527715,6.131118,15.658833,1824.033000,Maluku,Timur,0.403076,0.025741
424,Oil,GQS,PT PERTAMINA HULU ENERGI OFFSHORE NORTH WEST JAVA,OFFSHORE,X1. Discovery under Evaluation,20360.000,2200.0,70.400000,0.199213,300.28980,...,33.893960,4.381756,69.258370,9.110415,78.368785,3717.371000,Jawa Barat,Jawa,20.155070,0.257182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Gas,PHE 24,PT PERTAMINA HULU ENERGI WEST MADURA OFFSHORE,OFFSHORE,E0. On Production,23.300,5000.0,93.319930,0.229395,306.02620,...,0.634960,0.000000,27.127330,11.906170,39.033500,12.215900,Laut Jawa,Jawa,19.646410,0.503322
360,Gas,PERTAMINA EP,PT PERTAMINA EP,BOTH,X0. Development Pending,30.890,5250.0,95.039346,0.320047,160.48610,...,0.774653,0.000000,64.971210,74.040990,139.012200,1.257305,Jawa Barat,Jawa,154.606300,1.112178
637,Oil,BENAKAT UTARA,PT PERTAMINA EP,BOTH,E4. Production Pending,30036.000,4690.0,91.111397,0.222027,178.08410,...,35.507160,4.357081,22.981240,133.347800,156.329040,3472.759000,Sumatera Selatan,Sumatera,69.686540,0.445768
340,Gas,PERTAMINA EP,PT PERTAMINA EP,BOTH,X0. Development Pending,76.880,5250.0,95.039346,0.303378,114.45290,...,0.842386,0.000000,340.909400,41.474310,382.383710,17.958780,Jawa Barat,Jawa,69.640160,0.182121
536,Oil-Gas,MENGKAPAN,BOB PERTAMINA - BUMI SIAK PUSAKO,ONSHORE,E7. Production Not Viable,2660.311,3960.0,119.900000,0.270000,81.81205,...,42.000000,0.800000,26.741010,16.990130,43.731140,241.617400,Selat Malaka,Sumatera,32.831600,0.750760

In [267]:
xt = xt.drop(columns=['cap_cost', 'opr_cost','total_cost', 'NPV', 'PI'])

In [268]:
num_df = xt._get_numeric_data()

In [269]:
num_df

,inplace,depth,temp,poro,perm,saturate,api_dens,visc,avg_fluid_rate
129,96.650,11463.0,127.294385,0.111255,179.56160,0.757812,0.797738,0.000000,29.808250
77,194.000,5375.0,119.350000,0.181778,58.21070,0.380268,0.779838,0.000000,2.863511
33,14.900,3927.0,85.254520,0.267483,74.64626,0.568939,0.761554,0.000000,70.172230
409,80012.000,280.0,31.735574,0.298660,127.57180,0.569936,22.000000,48.882770,1824.033000
424,20360.000,2200.0,70.400000,0.199213,300.28980,0.472060,33.893960,4.381756,3717.371000
...,...,...,...,...,...,...,...,...,...
187,23.300,5000.0,93.319930,0.229395,306.02620,0.652640,0.634960,0.000000,12.215900
360,30.890,5250.0,95.039346,0.320047,160.48610,0.699175,0.774653,0.000000,1.257305
637,30036.000,4690.0,91.111397,0.222027,178.08410,0.615252,35.507160,4.357081,3472.759000
340,76.880,5250.0,95.039346,0.303378,114.45290,0.703396,0.842386,0.000000,17.958780
536,2660.311,3960.0,119.900000,0.270000,81.81205,0.700000,42.000000,0.800000,241.617400

In [270]:
cat_df = xt.drop(columns=num_df.columns)

In [271]:
cat_df.head()

,fluid,field_name,operator,project_status,project_level,location,region
129,Gas,KEDUNGLUSI,PT PERTAMINA EP,BOTH,E0. On Production,Jawa Barat,Jawa
77,Gas,HIU,MEDCO E&P NATUNA LTD.,OFFSHORE,E0. On Production,Laut Natuna Utara,Sumatera
33,Gas,NORTH CENTRAL JAVA A,PT PERTAMINA EP,BOTH,X0. Development Pending,Jawa Barat,Jawa
409,Oil,BULA,KALREZ PETROLEUM (SERAM) LTD.,BOTH,E6. Further Development,Maluku,Timur
424,Oil,GQS,PT PERTAMINA HULU ENERGI OFFSHORE NORTH WEST JAVA,OFFSHORE,X1. Discovery under Evaluation,Jawa Barat,Jawa

In [272]:
cat_df = cat_df.drop(columns=['field_name', 'project_level'])

In [273]:
cat_df = operatorship(cat_df)

In [274]:
cat_df

       fluid       operator project_status           location    region
129      Gas      PERTAMINA           BOTH         Jawa Barat      Jawa
77       Gas  NON_PERTAMINA       OFFSHORE  Laut Natuna Utara  Sumatera
33       Gas      PERTAMINA           BOTH         Jawa Barat      Jawa
409      Oil  NON_PERTAMINA           BOTH             Maluku     Timur
424      Oil      PERTAMINA       OFFSHORE         Jawa Barat      Jawa
..       ...            ...            ...                ...       ...
187      Gas      PERTAMINA       OFFSHORE          Laut Jawa      Jawa
360      Gas      PERTAMINA           BOTH         Jawa Barat      Jawa
637      Oil      PERTAMINA           BOTH   Sumatera Selatan  Sumatera
340      Gas      PERTAMINA           BOTH         Jawa Barat      Jawa
536  Oil-Gas      PERTAMINA        ONSHORE       Selat Malaka  Sumatera

[444 rows x 5 columns]

In [275]:
cat_encoder = OneHotEncoder()

hot_cat_df = cat_encoder.fit_transform(cat_df)
hot_cat_df_ = hot_cat_df.toarray()

In [276]:
hot_cat_df

<444x37 sparse matrix of type '<class 'numpy.float64'>'
	with 2220 stored elements in Compressed Sparse Row format>

In [264]:
cat_encoder.categories_

[array(['Gas', 'Oil', 'Oil-Gas'], dtype=object),
 array(['NON_PERTAMINA', 'PERTAMINA'], dtype=object),
 array(['BOTH', 'OFFSHORE', 'ONSHORE'], dtype=object),
 array(['Aceh', 'Jambi', 'Jawa Barat', 'Jawa Tengah', 'Jawa Timur',
        'Kalimantan Selatan', 'Kalimantan Timur', 'Kalimantan Utara',
        'Laut Cina Utara', 'Laut Jawa', 'Laut Natuna', 'Laut Natuna Utara',
        'Laut Timor', 'Maluku', 'Papua Barat', 'Riau', 'Selat Makasar',
        'Selat Malaka', 'Sulawesi Selatan', 'Sulawesi Tengah',
        'Sulawesi Tengah (offshore)', 'Sumatera Barat', 'Sumatera Selatan',
        'Sumatera Utara', 'Teluk Berau'], dtype=object),
 array(['Jawa', 'Kalimantan', 'Sumatera', 'Timur'], dtype=object)]